<!DOCTYPE html>
<html lang="en">
<head>
 
    <meta charset="utf-8">
    <title>Elib.Dainam.edu.vn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
    <meta name="author" content="Muhammad Usman">
    <!-- The styles -->
    <link id="bs-css" href="~/Content/AdminLayout/css/bootstrap-cerulean.min.css" rel="stylesheet">
    <link href="~/Content/AdminLayout/css/charisma-app.css" rel="stylesheet">
    <link href='~/Content/AdminLayout/bower_components/fullcalendar/dist/fullcalendar.css' rel='stylesheet'>
    <link href='~/Content/AdminLayout/bower_components/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print'>
    <link href='~/Content/AdminLayout/bower_components/chosen/chosen.min.css' rel='stylesheet'>
    <link href='~/Content/AdminLayout/bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
    <link href='~/Content/AdminLayout/bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
    <link href='~/Content/AdminLayout/bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>
    <link href='~/Content/AdminLayout/css/jquery.noty.css' rel='stylesheet'>
    <link href='~/Content/AdminLayout/css/noty_theme_default.css' rel='stylesheet'>
    <link href='~/Content/AdminLayout/css/elfinder.min.css' rel='stylesheet'>
    <link href='~/Content/AdminLayout/css/elfinder.theme.css' rel='stylesheet'>
    <link href='~/Content/AdminLayout/css/jquery.iphone.toggle.css' rel='stylesheet'>
    <link href='~/Content/AdminLayout/css/uploadify.css' rel='stylesheet'>
    <link href='~/Content/AdminLayout/css/animate.min.css' rel='stylesheet'>
    @*<link rel="stylesheet" href="~/Content/UserLayout/css/bootstrap.min.css" />*@
    <!-- jQuery -->
    <script src="~/Content/AdminLayout/bower_components/jquery/jquery.min.js"></script>
    @* Chart.js *@
    <script src="~/Scripts/Chart.js"></script>
    @* jasny bootstrap *@
    <script src="~/Scripts/jasny-bootstrap.min.js"></script>
    <link href="~/Content/jasny-bootstrap.min.css" rel="stylesheet" />
    <!-- The fav icon -->
    
    <style>
        /*các thông báo lỗi sẽ được chứa trong các label với class là error*/
        label.error {
            color: red;
        }
    </style>
</head>

<body>
    <style>
        .thumbnail img {
            margin: 0;
            width: 190px;
            height: auto;
        }
    </style>
    <!-- topbar starts -->
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-inner">
            <button type="button" class="navbar-toggle pull-left animated flip">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Content("/Admin/")">
                
                <span>Dainam</span>
            </a>
            <!-- user dropdown starts -->
            <div class="btn-group pull-right">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    @if (Request.IsAuthenticated)
                    {
                        <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> @User.Identity.Name</span>
                    }
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="@Url.Content("/Admin/Logout/")">Logout</a></li>
                </ul>
            </div>
            <!-- user dropdown ends -->
            <!-- theme selector starts -->
            
            <!-- theme selector ends -->
            <ul class="collapse navbar-collapse nav navbar-nav top-menu">
                <li><a href="http://localhost:17723"><i class="glyphicon glyphicon-globe"></i> Trang Người Dùng</a></li>
                
            </ul>
        </div>
    </div>
    <!-- topbar ends -->
    <div class="ch-container">
        <div class="row">

            <!-- left menu starts -->
            <div class="col-sm-2 col-lg-2">
                <div class="sidebar-nav">
                    <div class="nav-canvas">
                        <div class="nav-sm nav nav-stacked">
                        </div>
                        <ul class="nav nav-pills nav-stacked main-menu">
                            <li class="nav-header">Main</li>
                            <li>
                                <a class="ajax-link" href="@Url.Action("Index","Admin")"><i class="glyphicon glyphicon-home"></i><span> Home</span></a>
                            </li>
                            <li>
                                <a class="ajax-link" href="@Url.Action("Index","QuanLySach")"><i class="glyphicon glyphicon-eye-open"></i><span> Tài Liệu</span></a>
                            </li>
                            <li>
                                <a class="ajax-link" href="@Url.Action("Index","QuanLyChuDe")">
                                    <i class="glyphicon glyphicon-edit"></i><span> Chủ đề</span>
                                </a>
                            </li>
                            <li>
                                <a class="ajax-link" href="@Url.Action("Index","QuanLyNXB")"><i class="glyphicon glyphicon-list-alt"></i><span> Nhà xuất bản</span></a>
                            </li>

                            <li>
                                <a class="ajax-link" href="@Url.Action("Index","QuanLyTacGia")"><i class="glyphicon glyphicon-list-alt"></i><span> Tác Giả</span></a>
                            </li>

                            <li>
                                <a class="ajax-link" href="@Url.Action("Index","QuanLyDG")"><i class="glyphicon glyphicon-font"></i><span> Độc giả</span></a>
                            </li>
                            <li>
                                <a class="ajax-link" href="@Url.Action("Index","QLMuonTras1")"><i class="glyphicon glyphicon-list-alt"></i><span> Quản Lý mượn trả</span></a>
                            </li>
                            
                        </ul>
                       
                    </div>
                </div>
            </div>
            <!--/span-->
            <!-- left menu ends -->
            <noscript>
                <div class="alert alert-block col-md-12">
                    <h4 class="alert-heading">Warning!</h4>
                    <p>
                        You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                        enabled to use this site.
                    </p>
                </div>
            </noscript>
            <div id="content" class="col-lg-10 col-sm-10">
                <!-- content starts -->
                @RenderBody()
                <!-- content ends -->
            </div><!--/#content.col-md-0-->
        </div><!--/fluid-row-->
        <!-- Ad, you can remove it -->
        @*<div class="row">
                <div class="col-md-9 col-lg-9 col-xs-9 hidden-xs">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Charisma Demo 2 -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:728px;height:90px"
                         data-ad-client="ca-pub-5108790028230107"
                         data-ad-slot="3193373905"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                <div class="col-md-2 col-lg-3 col-sm-12 col-xs-12 email-subscription-footer">
                    <div class="mc_embed_signup">
                        <form action="//halalit.us3.list-manage.com/subscribe/post?u=444b176aa3c39f656c66381f6&amp;id=eeb0c04e84" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div>
                                <label>Keep up with my work</label>
                                <input type="email" value="" name="EMAIL" class="email" placeholder="Email address" required>
                                <div class="power_field"><input type="text" name="b_444b176aa3c39f656c66381f6_eeb0c04e84" tabindex="-1" value=""></div>
                                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" class="button"></div>
                            </div>
                        </form>
                    </div>
                    <!--End mc_embed_signup-->
                </div>
            </div>*@
        <!-- Ad ends -->
        <hr>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h3>Settings</h3>
                    </div>
                    <div class="modal-body">
                        <p>Here settings can be configured...</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                        <a href="#" class="btn btn-primary" data-dismiss="modal">Save changes</a>
                    </div>
                </div>
            </div>
        </div>
        <footer class="row">
            <p class="col-md-9 col-sm-9 col-xs-12 copyright">
                &copy; <a href="http://usman.it" target="_blank">
                   
                </a> 2018
            </p>
            <p class="col-md-3 col-sm-3 col-xs-12 powered-by">
                Powered by: <a>Phạm Văn Thương</a>
            </p>
        </footer>
    </div><!--/.fluid-container-->
    <!-- external javascript -->
    <script src="~/Content/AdminLayout/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- library for cookie management -->
    <script src="~/Content/AdminLayout/js/jquery.cookie.js"></script>
    <!-- calender plugin -->
    <script src='~/Content/AdminLayout/bower_components/moment/min/moment.min.js'></script>
    <script src='~/Content/AdminLayout/bower_components/fullcalendar/dist/fullcalendar.min.js'></script>
    <!-- data table plugin -->
    <script src='~/Content/AdminLayout/js/jquery.dataTables.min.js'></script>
    <!-- select or dropdown enhancer -->
    <script src="~/Content/AdminLayout/bower_components/chosen/chosen.jquery.min.js"></script>
    <!-- plugin for gallery image view -->
    <script src="~/Content/AdminLayout/bower_components/colorbox/jquery.colorbox-min.js"></script>
    <!-- notification plugin -->
    <script src="~/Content/AdminLayout/js/jquery.noty.js"></script>
    <!-- library for making tables responsive -->
    <script src="~/Content/AdminLayout/bower_components/responsive-tables/responsive-tables.js"></script>
    <!-- tour plugin -->
    <script src="~/Content/AdminLayout/bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
    <!-- star rating plugin -->
    <script src="~/Content/AdminLayout/js/jquery.raty.min.js"></script>
    <!-- for iOS style toggle switch -->
    <script src="~/Content/AdminLayout/js/jquery.iphone.toggle.js"></script>
    <!-- autogrowing textarea plugin -->
    <script src="~/Content/AdminLayout/js/jquery.autogrow-textarea.js"></script>
    <!-- multiple file upload plugin -->
    <script src="~/Content/AdminLayout/js/jquery.uploadify-3.1.min.js"></script>
    <!-- history.js for cross-browser state change on ajax -->
    <script src="~/Content/AdminLayout/js/jquery.history.js"></script>
    <!--jquery.validate.min.js-->
    <script src="~/Content/AdminLayout/js/jquery.validate.min.js"></script>
    <!-- application script for Charisma demo -->
    @*<script src="~/Content/AdminLayout/js/charisma.js"></script>*@
     
    <script>
		$(document).ready(function(){
		    var validator = $("#input_form").validate({
		        rules: {
		            username: "required",
		            password: {
		                required: true,
		                minlength: 6,
		            },
		            cpassword: {
		                equalTo: "#MatKhau"
		            },
		            email: {
		                required: true,
		                email: true
		            },
		            //Email: {
		            //    required: true,
		            //    Email: true
		            //},
		            TenNXB: "required",
		            DiaChi: "required",
		            DienThoai: "required",
                    TenChuDe: "required",
                    HoTen: "required",
                    NgaySinh: "required",
                    TaiKhoan: "required",
                    MatKhau: "required",
                    TenSach: "required",
                    GiaBan: "required",
                    SoLuongTon: "required",
                    MoTa: "required"
                    
		        },
		        messages: {
		            username: "Hãy điền mã thư viện.",
		            password: {
		                required: "đối tượng",
		                minlength: "Đối tượng sai"
		            },
		           
		            email: {
		                required: "Hãy nhập 1 địa chỉ email hợp lệ",
		                email:"Địa chỉ email không hợp lệ"
		            },
		            //Email: {
		            //    required: "Hãy nhập 1 địa chỉ email hợp lệ",
		            //    Email: "Địa chỉ email không hợp lệ"
		            //},
		            TenNXB: "Hãy điền tên nhà xuất bản.",
		            DiaChi: "Hãy điền địa chỉ.",
                    DienThoai: "Hãy điền số điện thoại.",
                    TenChuDe: "Hãy điền tên chủ đề.",
                    HoTen: "Hãy điền họ tên.",
                    NgaySinh: "Hãy chọn ngày sinh.",
                    TaiKhoan: "Hãy điền mã thư viện.",
                    MatKhau: "Hãy điền đồi tượng.",
                    TenSach: "Hãy điền tên tài liệu.",
                    GiaBan: "Hãy điền giá bán.",
                    SoLuongTon: "Hãy điền số lượng tồn.",
                    MoTa: "Hãy điền mô tả."
		        }
		    });
	});
    </script> 
  
</body>
</html>

