@model Vinabook.Models.QLMuonTra

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h3>Bạn có chắc chắn muốn xóa ?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayMuon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayMuon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayTra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sach.TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sach.TenSach)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        @Html.ActionLink("Quay Lại", "Index")
    </div>
    }
</div>
